## note

In [4]:
import numpy as np
import pandas as pd

In [7]:
data = [1,2,3,4]
series1 = pd.Series(data)
series1

data = [[1,2,3,4],['a','b']]
series1 = pd.Series(data)
print(series1)
print(type(series1))

0    [1, 2, 3, 4]
1          [a, b]
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
data = [1,2,3]
series1 = pd.Series(data, index=['a','b','c'])
print(series1['a':'b'])

a    1
b    2
dtype: int64

In [14]:
data = [[1,2,3,4,5], [1,2,3]]
df = pd.DataFrame(data)
df

   0  1  2    3    4
0  1  2  3  4.0  5.0
1  1  2  3  NaN  NaN

In [15]:
data = pd.Series([6,12], index=['a','b'])
df = pd.DataFrame(data)
df

    0
a   6
b  12

In [16]:
data = np.array([['a','b'], [6,12]])
df = pd.DataFrame( { 'A':data[:,0], 'B':data[:,1] } )
df

   A   B
0  a   b
1  6  12

In [19]:
data = {"a": ['apple', 'mango'], "b": [10,12]}
df = pd.DataFrame(data)
df["FruitName"] = df["a"]
df

       a   b FruitName
0  apple  10     apple
1  mango  12     mango

In [36]:
data = [1,2]

df = pd.DataFrame(data)

df.rename(index = {0:"a", 1:"b"}, inplace=True)
df.rename(index = str, columns={0:"A"}, inplace=True)
df.columns=["a"]

df

   a
a  1
b  2